.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* 100% da altura da tela */
    min-height: 100vh;

    background-image: url('../public/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
