@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

:root{
  --verde: #9EABA2;
  --azul: #BDD1C5;
  --laranja: #EECC8C;
  --marrom: #E8B298;
  --roxo: #D3A29D;
  --branco: #fff;

  --marcellus: 'Marcellus', serif;

  --primary-color: #593D3D;
  --secondary-color: #AA705F;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--marcellus) !important;
  color: var(--primary-color);
}

